/* Main colors for website */
:root{
    --headerBackground: #87a6ae;
    --headerContrast: #0b0f2e;
    --mainBackground: #eeedf2;
    --mainText: #233768;
}

/* Basic full page styling */
body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--mainBackground);
}

header{
    display: flex;
    flex-direction: column;
}

/* Title Name styles */
.title{
    background-color: var(--headerBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}

h1{
    font-size: 3.5rem;
}

/* Nav Link styles */
.links{
    background-color: var(--headerContrast);
    min-height: 90px;
    display: flex;
    justify-content: center;
}

.links nav{
    display: flex;
    justify-content: space-between;
    width: 100%
}

header a{
    color: var(--headerBackground);
    text-decoration: none;
    margin: auto;
    font-size: 115%;
    position: relative;
}

/* Bar under nav links */
header a::before{
    width: 100%;
    height: 15%;
    background-color: var(--headerBackground);
    content: "";
    position: absolute;
    top: 100%
}

/* Banner img */
img{
    max-width: 100vw;
    object-fit: cover;
}

/* Main section styles */
main{
    color: var(--mainText);
    font-size: 1.25rem;
}

section{
    --leftRightPadding: 30px;
    display: flex;
    flex-direction: column;
    padding-left: var(--leftRightPadding);
    padding-right: var(--leftRightPadding);
    margin: 10px;
}

section h2{
    font-size: 2.5rem;
}

.content{
    position: relative;
}

/* Bars seperating section headers from section content */
.content::before{
    width: 100%;
    height: 5px;
    background-color: var(--mainText);
    content: "";
    position: absolute;
    bottom: 102.5%;
}

/* Project link styles */
#work a{
    text-decoration: none;
}

.link-container{
    width: 91.5%;
    display: block;
    margin: 0 auto 10px;
}

/* Project link box */
.project-link{
    background-color: red;
    padding: 7% 1% 3%;
    border: 6px solid var(--headerBackground);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Project description box */
.project-link div{
    background-color: var(--headerBackground);
    display: inline-block;
    padding: 5px;
}

#work p, #work h3{
    margin: 0;
    color: var(--headerContrast)
}

h3{
    font-size: 1.5rem;
}

#work p{
    font-size: 1rem;
    font-weight: bold;
}

/* Background images for project links */
#surf-report{
    background-image: url("./images/surf-report.jpg");
}

#led-wall{
    background-image: url("./images/led-wall.jpeg");
}

#calculator{
    background-image: url("./images/calculator.jpg");
}

#pastel-puzzels{
    background-image: url("./images/pastel-puzzle.jpg");
}

#landing-page{
    background-image: url("./images/landing-page.png");
}

/* Hover tint effect for project links */
.project-link:hover::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: background .3s linear;
}

/* Contact Me styles */
#contact-me ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

li a{
    text-decoration: none;
    font-size: 2rem;
    line-height: 4rem;
    position: relative;
}

li a::before{
    width: 100%;
    height: 5px;
    background-color: var(--mainText);
    content: "";
    position: absolute;
    top: 102.5%
}

/* Responsive styling for various screen sizes */

@media screen and (min-width: 577px) {
    header a{
        font-size: 1.9rem;
    }

@media screen and (min-width: 993px) {
    /* Header adjustments for larger screens. Elements are made larger. Title and Nav elements are moved to same row */
    header{
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--headerContrast);
        min-height: 100px;
        align-items: center;
        width: 100vw;
    }

    .title{
        max-height: 60px;
        min-width: 20%;
        justify-content: flex-end;
        padding-right: 10px;
    }

    h1{
        font-size: 2rem;
    }

    .links{
        min-width: 35%;
        justify-content: flex-start;
    }

    nav{
        width: 95%;
    }

    header a{
        font-size: 1.25rem;
    }

    /* Section Header and Content styled side-by-side */
    section{
        flex-direction: row;
    }

    h2{
        text-align: end;
        width: 15vw;
    }

    .content{
        padding-left: 30px;
        width: 85vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content::before{
        bottom: 0%;
        height: 100%;
        width: 5px;
        left: 10px;
    }

    /* Project links moved to 2 per line except for first */
    .link-container{
        width: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .project-link{
        margin: 0px;
    }

    /* First project link takes entire line */
    #big{
        width: 100%;
        margin: 0 auto 10px;
    }

    /* Contact Me links oriented horizontally */
    #contact-me ul{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1300px) {
    /* Element size increases for full size viewing */
    header{
        min-height: 130px;
    }

    .title{
        max-height: 80px;
    }

    h1{
        font-size: 3rem;
    }

    header a{
        font-size: 1.75rem;
    }
    
}
}